.title {
  font-family: 'SUIT-SemiBold';
  color: #0C205E;
  font-size: 2.25rem;
}

.list {
  display: flex;
  justify-content: flex-end;
  color: #BABABA;
  font-family: 'SUIT-Regular';
  font-size: 1.25rem;

}

.prev_next {
  width: 175px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prev_span,
.next_span {
  width: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 2px;
  height: 18px;
  background-color: #BABABA;
  display: inline-block;
}

.list_btn {
  width: 62px;
  height: 32px;
  font-family: 'SUIT-Medium';
  font-size: 1.125rem;
  background-color: #00084A;
  line-height: 32px;
  text-align: center;
  margin-left: 48px;
  cursor: pointer;
}

.list_btn * {
  color: #FFF;
  text-decoration: 0;
}

.board {
  margin-top: 1%;
  border-top: 2px solid #0C205E;
}


.board_title {
  font-size: 1.563rem;
  font-family: 'SUIT-SemiBold';
  margin: 2% 1% 1% ;
}

.board_info {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-family: 'SUIT-Medium';
  color: #BABABA;
  margin: 0 1%;

}

.board_info span {
  margin: 2px;
}

.line {
  vertical-align: sub;
  width: 2px;
  height: 16px;
  background-color:#CBCBCB;
}

.icon {
  
  vertical-align: middle;
  padding-bottom: 2px;
  margin-right: 2px;
}

.board_desc {
  margin-top: 2%;
  border-top: 0.5px solid #BABABA;
  padding: 3% 2% 15% 2%;
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: 'SUIT-Regular';
  
}

.feel_btn {
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5%;
}

.like_btn {
  width: 152px;
  height: 49px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-family: 'SUIT-Medium';
  color: #BABABA;
  border: 2px solid #BABABA;
  cursor: pointer;
}

.like_btn:hover {
  color: #00084A;
  border: 2px solid #00084A;
}


.like_btn * {  
  transition: transform 200ms ease;
  
}

.like_btn *:hover {
  transform: scale(1.1);
}



.report_btn {
  
  width: 152px;
  height: 49px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.25rem;
  font-family: 'SUIT-Medium';
  color: #BABABA;
  border: 2px solid #BABABA;
  cursor: pointer;
}

.comment_wrap {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding: 3% 0;
  background-color: #F5F5F5; 
}

.inner_wrap {
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 10%;

}

.btn {
  border: none;
  outline: none;
  background-color: #FFF;
  color: #A7A7A7;
  font-size: 1rem;
  font-family: 'SUIT-Medium';
  cursor: pointer;

}

.comment_wrap * {
  font-family: 'SUIT-Medium';
  font-size: 1.25rem;
}

.comment_title {
  font-size: 1.875rem;
  color: #00084A;
  font-family: 'SUIT-SemiBold';
}

.comment_area {
  width: 1050px;
  height: 150px;
  margin-top: 2%;
  border: 1px solid #BABABA;
  padding-left: 2%;
  padding-top: 2%;
  /* font-family: 'SUIT-Medium';
  font-size: 1.25rem; */
  resize: none;
  box-sizing: border-box;
}

.comment_area::placeholder {
  color: #BABABA;

}

.comment_btn {
  width: 1050px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #00084A;
  color: #FFF;
  margin-bottom: 3%;
  cursor: pointer;

  /* font-family: 'SUIT-Medium';
  font-size: 1.25rem; */
}

.comment_user {
  font-family: 'SUIT-SemiBold';
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.comment_desc {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.comment_time {
  font-size: 1rem;
  line-height: 1.75rem;
  color: #BABABA;
}

.comment_list {
  border-bottom: 2px solid #BABABA;
  padding: 1.5% 0;
}