.app_wrap {
  width: 100%;
  height: 600px;
  padding: 125px 174px;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #F5F5F5;
  margin: 0 auto;
}

.app_title {
  font-family: 'SUIT-SemiBold';
  font-size: 2.25rem;
  color: #0C205E;
  padding-bottom: 1%;
}

.app_title img {
  margin-left: 3px;
  vertical-align: top;
}

.wrap * {
  text-align: left;
}

.wrap table td {
  height: 40px;
}

.wrap table {
  border-bottom: 2px solid #0C205E;
}

.btn {
  width: 130px;
  height: 49px;
  background-color: #D9D9D9;
  border: 2px solid #00084A;
  color: #00084A;
  font-family: 'SUIT-Medium';
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  
  position: absolute;
  right: 5px;
  top: 20px;
}

.btn:hover {
  background-color: #FFCB1D;

}

.td_btn {
  position: relative;
}

.td_title {
  width: 25%;
  text-align: left;
  padding: 30px 0 30px 10px;
  font-family: 'SUIT-Regular';
  font-size: 25px;
  box-sizing: border-box;
  border-bottom: 1px bolid #BABABA;
}

.td_desc {
  color: #BDBDBD;  
  font-family: 'SUIT-Regular';
  font-size: 1.25rem;
  text-align: left;
}

.wrap td {
  border-bottom: 1px solid #BABABA;
}