.title {
  font-size: 2.25rem;
  font-family: 'SUIT-SemiBold';
  color: #0C205E;
  text-align: center;
  margin-top: 7%;
  margin-bottom: 2%;
}

.title img {
  margin-left: 3px;
  vertical-align: top;
}

.desc {
  font-family: 'SUIT-Light';
  font-size: 1.125rem;
  text-align: center;
  color: #00084A;
  
}

/* 검색창 */
.searchbox {
  width: 936px;
  height: 80px;
  background-color: #F2F2F2;
  border: 1px solid #000662;
  border-radius: 10px;
  margin: 3% auto 5% auto;
  position: relative;
  
}

.searchbox input {
  border: 0;
  outline: 0;
  background-color: #F2F2F2;
  width: 90%;
  height: 78px;
  border-radius: 12px;
  padding-left:20px;
  color: #000662;
  font-family: 'SUIT-Light';
  font-size: 1.125rem;
}

.searchbox input::placeholder {
  color: #BABABA;
}

.searchbox img {
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 24px;
  height: 24px;
}

/* 마감 임박 박스*/

.deadline_box {
  width: 100%;
  background-color: #F2F2F2;
  height: 470px;
  box-sizing: border-box;
  padding-left: 10px;
}

.inner_box {
  width: 1127px;
  margin: 0 auto;
}

.deadline_title {
  font-family: 'SUIT-SemiBold';
  font-size: 1.875rem;
  color: #00084A;
  padding: 3% 0;
}

.deadline_frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 배너 */
.add_banner {
  width: 1128px;
  height: 200px;
  background-color: #F5F5F5;
  margin: 4% auto;
}

/* 신청 가능 플리마켓 */

.apply_title {
  width: 1128px;
  margin: 0 auto;
  padding: 3% 0;
  font-family: 'SUIT-SemiBold';
  font-size: 1.875rem;
  color: #00084A;
}