.nav_wrap {
  font-family: 'SUIT-Light';
  background-color: #0C205E;
  width: 100%;
  height: 150px;
  position: relative;
}

.nav_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 77vw;
  height: 100px;
  margin: 0 auto;
}

.logo {
  width: 176.4px;
  height: 42px;
}

.nav_searchbox {

  width: 563px;
  height: 50px;
  /* margin-left: 4.8%; */
  /* margin-right: 7.2%; */
  border: 1.5px solid #FFB600;
  color: white;
  border-radius: 10px;
  position: relative;
}

.nav_textbox {
  background-color: #0C205E;
  height: 48px;
  line-height: 58px;
  width: 90%;
  margin-left: 15px;
  border: none;
  color: white;
  font-size: 1.125rem;
  font-family: 'SUIT-Light';
}

.nav_textbox:focus,
.nav_textbox:active {
  outline: none;
  box-shadow: none;
}

.nav_textbox::placeholder {
  color: #CBCBCB;
  font-size: 1.125rem;
 
}

.nav_searchbtn {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 20px;
}

.loginbox {
  color: #FFB600;
  width: 173px;
  display: flex;
  justify-content: center;
}

.loginbox > span {
  height: 18px;
  margin: 0 5px;
}

.loginbox > span > * {
  color: #FFB600;
  text-decoration: none;
  line-height: 18px;
  font-size: 1.125rem;
  height: 18px;
}

.logoutbox {
  color: #FFB600;
  
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.logoutbox > span {
  
  height: 18px;
  margin: 0 5px;
  color: #FFB600;
  text-decoration: none;
  line-height: 18px;
  font-size: 1.125rem;
  height: 18px;
}

.logoutbox > span > * {
  color: #FFB600;
  text-decoration: none;
  line-height: 18px;
  font-size: 1.125rem;
  height: 18px;
}

.line {
  display: block;
  width: 2px;
  height: 18px;
  background-color:#CBCBCB;
}

.nav_bottom {
  border-top: 1px solid #FFB600;
  color: white;
  height: 50px;
  
}

.nav_bottom > ul {
  -webkit-padding-start: 0px;
  text-align: center;
  display: grid;
  grid-template-columns:1fr 0.5fr 1fr 0.5fr 1.25fr 0.5fr 1fr;
  list-style: none;
  width: 573px;
  margin: 0 auto;
  padding-top: 1rem;
  font-size: 1.125rem;
  cursor: pointer;
}



.nav_bottom > ul > li * {
  text-decoration: none;
  color: #FFF;
  -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    
}

.nav_dropdown {
  
  font-family: 'SUIT-Light';
  font-size: 1rem;
  position: absolute;
  top: 150px;
  width: 100%;
  left: 0;
  z-index: 9999;
  background-color: #0C205E;
  opacity: 0.9;
  padding: 15px 20px ;
  display: none;
  
  /* display: grid;
  grid-template-columns:  29.5% 10.6% 10.3% 15% 30%;
  text-align: left; */


  
}

.nav_bottom:hover .nav_dropdown {
  display: grid;
  grid-template-columns:  29.5% 10.6% 10.3% 15% 30%;
  text-align: left;

  -webkit-transition: all .3s ease .10s;
  -moz-transition: all .3s ease .10s;
  -o-transition: all .3s ease .10s;
  -ms-transition: all .3s ease .10s;
  transition: all .3s ease .10s;
  /* place-items: center; */
}


.nav_dropdown ul li * {
 line-height: 35px;
 color: #FFF;
}

.nav_dropdown ul li *:hover {
  font-family: 'SUIT-Regular';
  color: #FFB600;

}

.star {
  cursor: default;
  text-align: center;
  margin: 0 auto;
  padding-top: 2px;
  
  text-decoration: none;
}