html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}


@font-face {
  font-family: 'SUIT-Regular';
  src:  url('./assets/fonts/SUIT-Regular.otf') format('truetype'),
  url('./assets/fonts/SUIT-Regular.otf') format('woff');
}

@font-face {
  font-family: 'SUIT-Medium';
  src:  url('./assets/fonts/SUIT-Medium.otf') format('truetype'),
  url('./assets/fonts/SUIT-Medium.otf') format('woff');
}

@font-face {
  font-family: 'SUIT-Light';
  src:  url('./assets/fonts/SUIT-Light.otf') format('truetype'),
  url('./assets/fonts/SUIT-Light.otf') format('woff');
}

@font-face {
  font-family: 'SUIT-SemiBold';
  src:  url('./assets/fonts/SUIT-SemiBold.otf') format('truetype'),
  url('./assets/fonts/SUIT-SemiBold.otf') format('woff');
}


@font-face {
  font-family: 'SUIT-ExtraBold';
  src:  url('./assets/fonts/SUIT-ExtraBold.otf') format('truetype'),
  url('./assets/fonts/SUIT-ExtraBold.otf') format('woff');
}
